@{
    ViewData["Title"] = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication6.ViewModels.RegisterViewModel
<div class="d-flex justify-content-center " style="text-align:center" >
    
    <form method="post" asp-controller="Account" asp-action="Register">
        <h1>Регистрация</h1>
        
        <div asp-validation-summary="ModelOnly"></div>
        <div class="pt-3">
            
            <input asp-for="Name"  placeholder="Имя*" style="width:250px"/><br />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="pt-3">
            
            <input asp-for="Surname"  placeholder="Фамилия*" style="width:250px"/><br />
            <span asp-validation-for="Surname"class="text-danger"></span>
        </div>
        
        
        <div class="pt-3">
            
            <input name="phone" id="phone" asp-for="Phone" type="text"  placeholder="Контактный телефон*" style="width:250px"/><br />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="pt-3">
            
            <input asp-for="Age" placeholder="Возраст*" style="width:250px"/><br />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="pt-3">
            
            <input asp-for="Password" placeholder="Пароль*" style="width:250px" /><br />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="pt-3">
            
            <input asp-for="PasswordConfirm"  placeholder="Повторите пароль*" style="width:250px"/><br />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
        <div class="pt-3">
            <input type="submit" class="btn" style="background: #B79B7E; color:white" value="Зарегистрироваться" />
        </div>
    </form>
</div>

<script>

$(function(){
  
  $("#phone").mask("+7(999) 999-9999");
  
});
</script>


